<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <style></style>
  </head>
  <body>  
    {{>navbar}}
    
    <section id="introSection">
      <div class="small">Welcome to Service Hub</div>
      <div class="small">Eat Sleep Learn Repeat</div>
    </section>
    <div class="con">
      <figure class="snip1249">
        <div class="image">
          <img src="https://st.depositphotos.com/1152339/3313/i/950/depositphotos_33136993-stock-photo-seo-web-design-concept-web.jpg"></i>
        </div>
        <figcaption>
          <h3>Web Technology</h3>
          <p> would the Mongols hoard if the Mongol hordes got bored?</p>
          
          <a href="mail" class="add-to-cart">Add to Cart</a>
          <a href="#" class="add-to-cart">Details</a>
        </figcaption>
      </figure>
      <figure class="snip1249 hover">
        <div class="image">
          <img src="https://designshack.net/wp-content/uploads/Watercolor-Logo-Creator-Kit.jpg"></i>
        </div>
        <figcaption>
          <h3>Logo Making</h3>
          <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
          
          <a href="/mail" class="add-to-cart">Add to Cart</a>
          <a href="#" class="add-to-cart">Details</a>
        </figcaption>
      </figure>
      <figure class="snip1249">
        <div class="image">
          <img src="https://miro.medium.com/max/1400/1*DdrXx3nNIZyB7YObmojAxg.jpeg" alt="sample71"/><i class="ion-ios-camera-outline"></i>
        </div>
        <figcaption>
          <h3>Mobile App Development</h3>
          <p>Weekends don't count unless spent doing something completely pointless.</p>
          
          <a href="/mail" class="add-to-cart">Add to Cart</a>
          <a href="#" class="add-to-cart">Details</a>
        </figcaption>
      </figure>
    </div> 
     <footer id="footer" >
     Copyright © 2022 Servicehub.com | All Rights Reserved
     </footer>
      <script src="java.js"></script>
    </body>
    </html>