<html lang='en'>
  <head>
    {{>header}}
    <title>confirm</title>
  </head>
  <body>
    <div class='container'>
      <h1>Enter Email</h1>
      <form class='myForm' action='/mail' method='post'>
        <input class='myInput' type='email' name='email' placeholder=' email' />
        <button type='submit' class='btn'>Done</button>
      </form>
    </div>
  </body>
</html>